@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/DMSans-VariableFont_opsz,wght.ttf");
  font-optical-sizing: auto;
  font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "DM Sans", sans-serif;

  color-scheme: light dark;

  /* Colors */
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 11%);
  --tertiary: hsl(0, 0%, 65%);
  --accent: hsl(29, 55%, 57%);

  /* Font Sizes */
  --h1: bold 1.25rem;
  --h2: bold 1rem;
  --h3: normal 0.875rem;

  /*
    Tailwind Screen Sizes
      no-prefix - mobile
      sm - tablets
      lg - laptops
      xl - pc
      2xl - tv 
   */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex]:focus-visible,
a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--primary);
}
